{
    "pluginName": "Halifax",
    "bankingUrl": "https://www.halifax-online.co.uk/personal/logon/login.jsp",
    "username": "username",
    "password": "password",
    "memorableWord": "memorable"
}